.container {
    width: 900px;
    margin: 0 auto;
    padding: 50px;
}

.btn {
    height: 40px;
    color: white;
    font-size: 25px;
    padding: 0 20px;
    border: 2px solid darkviolet;
    background: darkmagenta;
    border-radius: 5px;
}

.body {
    display: flex;
}

.result {
    width: 200px;
    border: 3px solid darkmagenta;
    background: darkviolet;
    border-radius: 5px;
    margin-left: 30px;
}
.result h2 {
    margin: 0;
    text-align: center;
}